@import '../../styles/custom_bootstrap';

.products {

	// https://stackoverflow.com/a/13983507/1130952
	.product-listing {

		@include media-breakpoint-up(md) {
			display: table;
			width: 100%;
		}

		.product-header {
			display: none;

			@include media-breakpoint-up(md) {
				display: table-header-group;

				>div {
					display: table-row;
					border-bottom: 1px solid black;
				}
			}

			.product-column {
				text-align: center;
				font-weight: bold;
				border-bottom: 1px solid black;
			}
		}

		.product-body {
			@include media-breakpoint-up(md) {
				display: table-row-group;
			}
		}

		.product-column {
			@include media-breakpoint-up(md) {
				display: table-cell;
				padding: 0 10px;
			}
		}

		.product-list-item {
			@include media-breakpoint-up(md) {
				display: table-row;
			}

			/*.product-column {
				@include media-breakpoint-up(md) {
					display: table-cell;
				}
			}*/
		}
	}
}