@import '_custom_bootstrap';

span.rule {
	display: block;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.top-rule {
	border-top: 1px solid rgba(0,0,0,0.15);
	padding-top: 1.5rem;
}

.left-rule {
	border-left: 1px solid rgba(0,0,0,0.15)
}

.right-rule {
	border-right: 1px solid rgba(0,0,0,0.15)
}

.bottom-rule {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding-bottom: 1.5rem;
}

.border-faded {
	border: 1px solid #ccc !important; //rgba(0,0,0,0.15);
	border-color: #d9d9d9 #ccc #b3b3b3 !important;
}
