@import '_custom_bootstrap';

.bare {
	cursor: pointer;
	background: transparent;
	border: none;

	&:hover, &:active {
		cursor: pointer;
		background: transparent;
		border: none;
	}
}

.link {
	cursor: pointer;
	background: transparent;
	border: none;

	&:hover, &:active {
		cursor: pointer;
		background: transparent;
		border: none;
		text-decoration: underline;
	}
}
