@import '_custom_bootstrap.scss';
@import '~bootstrap/scss/bootstrap';

@import '_index.borderstyles.scss';
@import '_index.buttonstyles.scss';
@import '_index.validationstyles.scss';

@import '../components/Common/DelayedActionButton';
@import '../components/Common/ProgressButton';

.deltatre-toast-container {
    .deltatre-toast {
        z-index: 1065 !important;
    }
}

.toastify {
    z-index: 2000 !important;
}