@import '../../styles/custom_bootstrap';

.progress-button {
	position: relative;

	>button {
		position: absolute;
		left: calc(50% - 20px);
		top: calc(50% - 18px);
	}
}

.custom-content-progress-bar {
	position: relative;
	width: 100%;
	height: 100%;

	.progress-container {
		position: absolute;
	}

	.content-container {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}